<!DOCTYPE html>
<head><title>vbkfdjvkjfv</title></head>

<body>
    <form action='/insert' method="POST">
        <center>
            {% csrf_token %}
            <input name="name" placeholder="name" required></br></br>
            <input name="lastname"placeholder="lastname" required></br></br>
            <input name="contect"placeholder="contect" required></br></br>
            <input type="submit" value="submit">
        </center>
        <a href='/viewhere'>click here</a>

    </form>
</body>
</html>